{% extends 'base.html' %}

{% block content %}

<section class="day-container">
  <div class="day-details">
      {% for date in day.date_set.all %}
      {% endfor %}
    <h2>Rated: {{ day.rating }}</h2>
    <h2>mood for the day: {{ day.mood }}</h2>
    <h2>Highs: {{day.highs }}</h2>
    <h2>Lows: {{day.lows }}</h2>
    <p>Any notes to add?: {{ day.notes }}</p>
    <div class="cat-actions">
      <a href="{% url 'days_update' day.id %}">Edit</a>
      <a href="{% url 'days_delete' day.id %}" >Delete</a>
    </div>
  </div>
</section>

{% endblock %}