{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
{% comment %} <link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cat-detail.css' %}"
/> {% endcomment %}
<script defer src="{% static 'js/day-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="date-mood-container">
  <section class="Date">
    <div class="subsection-title">
    </div>
    <h3>Add a Date</h3>
    <form
      action="{% url 'add_dating' day.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ dating_form.as_p }}
      <button type="submit" class="btn submit">Add Date</button>
    </form>
    <table>
      <thead>
        <tr><th>Date</th><th>Mood emoji</th></tr>
      </thead>
      <tbody> {% for dating in day.dating_set.all %}
          <tr>
            <td>{{dating.date}}</td>
            <td>{{dating.get_mood_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

<section class="day-container">
  <div class="day-details">
    <h2>Rating {{day.rating}}</h2>
    <h2>Mood for the day: {{ day.mood }}</h2>
    <h2>Highs: {{day.highs }}</h2>
    <h2>Lows: {{day.lows }}</h2>
    <p>Any notes to add: {{ day.notes }}</p>
    <div class="day-actions">
      <a href="{% url 'days_delete' day.id %}" >Delete</a>
    </div>
  </div>
</section>

{% endblock %}