{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <script defer src="{% static 'js/index-detail.js' %}"></script>
{% endblock %}


{% block content %}
<section class="page-header">
  <h1 class="title">Calendar</h1>
</section>

<section class="card-container">
{% for day in days %} 
  <a href="{% url 'days_detail' day.id %}">
    <div id="card" class="card-body card" style="width: 18rem;">

      <h5 class="card-title">{{day.date}}</h5>
      <h6 class="card-subtitle mb-2 text-muted" id="rating">{{day.rating}}<span id="outofseven">/7</span>
      </h6>


    </div>
  </a>
{% endfor %}
</section>
{% endblock %}
