{%  extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DayByDay</title>
</head>
<body>
{% block content %}
  <h1 id="whatis">What is DaybyDay?</h1>
  <p>DayByDay is your personal life tracking app. It only takes a couple minutes to fill out a day! What were the highlights of your day? what were some low points? Rate your day on a scale from 1 being a really bad day to 7 being an amazing day. 
  </p>
  <p>
    Depression is the leading cause of disability worldwide. Mental illnesses can affect people of any age, race, religion, or income. It is a medical condition that disrupts a persons thinking, feeling, mood, and ability to relate to others and daily functioning. My hopes is with this app you can will be able to get a better understanding of your emotions to help you be a better you. Hope you enjoy! more updates to come!</p>
  <div class="writing-gif">
    <img class="gif" src="/static/images/writing.gif" alt="writing-gif"/>
    </div>
  <p class="follow">Follow on social media</p>
  <span><a href="#" class="fa fa-facebook"></a></span>
  <span><a href="#" class="fa fa-twitter"></a></span>
    <span><a href="#" class="fa fa-instagram"></a></span>
    <p class="comingsoon">social media coming soon</p>
{% endblock %}
</body>
</html>