h1.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

body {
  height: 100vh;
  background-image: url("../images/wallpaper.jpg");
}

h2 {
  text-align: center;
}

form.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}