body {
  height: 100vh;
  background-image: url("../images/wallpaper.jpg");
}

.date {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 60px;
  font-weight: 900;
}

.content {
  font-family: 'Signika', sans-serif;
  margin: auto;
}

section.day-container {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
  margin: auto;
}

div.day-details {
  margin-top: 40px;
  text-align: left;
  word-break:break-all;
  margin: 0px !important;
  padding-left: 10px;
}

section.Date {
  text-align: left;
}

a.btn.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin: auto;
  width: 120px;
}

div.day-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p{
  font-size: 32px;
  color: white;
}

button.btn.btn-light.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

form.subsection-content {
  margin-bottom: 25px;
}

.datemood {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

table {
  text-align: center;
  
}

td, th {
  padding: 0 50px;
}

th {
  color: white;
}

td.datepost {
  font-size: 26px;
}

td.emoji {
  font-size: 26px;
}

.item {
  font-size: 23px;
  color: black;
}

#theDate{
  font-size:55px !important ;
}


@media only screen and(max-width: 375px){

button.btn.btn-light.submit {
  margin: 0;
}

section.day-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}
}