body {
  height: 100vh;
  background-image: url("/static/images/clouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.day-actions{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  text-align: left;
  margin: 3rem;
}

p{
  font-size: 2rem;
}

.item{
  font-size: 1.3rem;
}

#theDate{
  font-size: 3.5rem;
  
}

.button {
  text-align: center;
  align-items: center;
}

