.date {
  text-align: center;
  margin: 20px;
  font-size: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}

div.day-details {
  margin-top: 40px;
  text-align: left;
}

section.Date {
  text-align: left;
}

a.btn.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  width: 75%;
}

div.day-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p{
  font-size: 18px;
}

button.btn.btn-light.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

form.subsection-content {
  margin-bottom: 25px;
}

.datemood {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

table {
  text-align: center;
  
}

td, th {
  padding: 0 50px;
}

.item {
  font-size: 32px;
}

@media only screen and(max-width: 375px){

button.btn.btn-light.submit {
  margin: 0;
}

}