

h1#add {
text-align: center;
margin: 15px;
font-family: 'Work Sans', sans-serif;
font-size: 60px;
font-weight: 900;
}

form.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: 'Montserrat', sans-serif;


}

label {
  margin-left: 10px;
}

#id_date{
  margin: 10px;
}
#id_rating{
  margin: 10px;
}
#id_mood {
  margin: 10px;
}
#id_highs {
  margin: 10px;
}
#id_lows {
  margin: 10px;
}
#id_notes {
  margin: 10px;
  width: 275px;
}
#id_user {
  margin: 10px;
}

button.btn.btn-light.submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 25%;
  margin-bottom: 20px;
}
