
body {
  background-image: url("/static/images/clouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1#add {
text-align: center;
margin: 15px;
font-family: 'Work Sans', sans-serif;
font-size: 3.4rem;
font-weight: 900;
}

form.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.page-header{
  margin-top: 5rem;
}

label {
  margin-left: 10px;
}

#id_date{
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#id_rating{
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#id_mood {
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#id_highs {
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#id_lows {
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#id_notes {
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
  width: 275px;
}
#id_user {
  margin: 10px;
}

button.btn.btn-dark.submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 25%;
  margin-bottom: 20px;
}
