body {
  height: 100vh;
}

h1,h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
font-weight: 900;
}

h1.title {
  font-size: 60px;
  margin-top: 5rem;
}

h2 {
  padding-bottom: 20px;
}

label {
  margin-right: 5px;
}

form.login {
  width: 22rem;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  border-radius: 2%;
  
}

form.signup {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button.btn.btn-dark {
  margin: 7px;
}