body {
  height: 100vh;

}
h1,h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
font-weight: 900;
}

h1.title {
  font-size: 60px;
  padding-top: 15px;
}

h2 {
  padding-bottom: 20px;
}

form.login {
  margin-top:  5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

button.btn.btn-light {
  margin-bottom: 10px;
}