body {
  height: 100vh;
  background-image: url("../images/wallpaper.jpg");
}
h1,h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
font-weight: 900;
}

h1.title {
  font-size: 60px;
  padding-top: 15px;
}

h2 {
  padding-top: 15px;
}

form.login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

button.btn.btn-light {
  margin-bottom: 10px;
}