html, body {
  height: 100vh;
  background-image: url("../images/wallpaper.jpg");
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px; 
  font-size: 35px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 900;
  font-size: 60px;
}
 
section.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;
  font-family: 'Signika', sans-serif;
}

div.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}

h6.card-subtitle.mb-2.text-muted {
  font-size: 32px;
  margin: auto;
  color: black;

}
h6#rating.card-subtitle.mb-2.text-muted {
  color: black !important;
}


div.card {
  margin: auto;
  margin-bottom: 22px;
  width: 260px !important;
  margin: 15px 15px !important;
}

div.card-body {
  padding: 10px 15px;
}



.card-title {
  font-size: 24px;
  margin: auto;
  color: black;
  
}

#outofseven {
font-size: 12px;
}

span {
  color: black;
}

a {
  text-decoration: none !important;
}


@media only screen and(max-width: 375px){
div.card {
  justify-content: center;
  margin: auto;
  text-align: center;
  }
}