body {
  height: 100vh;
}

th {
  vertical-align: text-top;
}

#signup {
  font-family: 'Work Sans', sans-serif;  font-weight: 900;
  font-size: 3.2rem;
}

h1 { 
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 10rem;
}

.form-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.signupform{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.red-text {
  visibility: hidden !important;
}

.gif {
  width: 12rem;
}

.plant-gif{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}