th {
  vertical-align: text-top;
}

#signup {
  font-size: 40px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 900;
  font-size: 60px;
  margin: 15px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

button.btn.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 45%
}

.form-container {
  padding-left: 10px;
}